@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1{
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
    color: #545454;
}

.news_card{
    font-family: 'Montserrat', sans-serif;
    color: #545454;
}

.news_card div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.news__url, .news__time{
    font-size: 18px;
}

.news__title{
    font-size: 30px;
    margin: 10px;
}

.news__by{
    font-size: 20px;
}

.refresh_list{
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.refresh_list img{
    margin: 5px;
    cursor: pointer;
    transition: all 0.6s;
}

.backButton{
    width: auto;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #3f3f3f;
    cursor: pointer;
    margin:10px;

}

.refresh_list:hover, .backButton:hover, a:hover{
    color: #0066ff;
}

.refresh_list img:hover{
    transform: rotate(360deg);
}



